.cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 2px;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        h1 {
            font-size: 1.8rem;
            font-weight: 500;
        }

        .bagImg {
            padding: 0.5rem;
            border-radius: 50px;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;


            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

    }

    .cart_products {
        display: flex;
        flex-direction: column;
        margin: auto;

        p {
            display: block;
            margin: auto;
            color: rgb(153, 153, 153);
            font-size: 0.9rem;
        }
    }

    .addressDate {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(119, 119, 119);
            font-size: 0.9rem;
            font-weight: 500;
            cursor: pointer;

            svg {
                width: 1.5rem;
                fill: rgb(119, 119, 119);
            }

            &:hover {
                color: #000;
            }

            &:hover svg {
                fill: #000;
            }
        }
    }

    .orderBtn {
        width: fit-content;
        margin: 1rem auto 0;
        background-color: rgb(119, 119, 119);
        cursor: not-allowed;
        color: #fff;
        padding: 0.3rem 0.5rem;
        border: none;
        border-radius: 2px;
    }
}